{% extends "index.html" %} {% block content %}
<div class="content">
	<h1>This is Register</h1>
	<br>
	 {% if error %}
	<p>
		{{ error }}
	</p>
	 {% endif %}
	<form class="user" method="POST" action="{{ url_for('auth.register') }}">
        <label for="username"></label><input type="text" id="username" name="username" placeholder="Username"><br>
        <label for="password"></label><input type="password" id="password" name="password" placeholder="Password"><br>
        <label for="confirm-password"></label><input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>
{% endblock %}